body{
    background-color: #0C0A3E;
}

.main-heading-index{
    color: rgb(255, 187, 0);
    text-align: center;
    font-size: 100px;
}

.main-heading{
    color: rgb(255, 187, 0);
    text-align: center;
}
.main-list{
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.main-list a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin: 2px;
}
.main-list a:hover{
    color: rgb(255, 187, 0);
    letter-spacing: 1.9px;
}