body{
    background-color: #3d3d3d;
}

h1, h2, h3, h4, h5, p{
    color: white;
}

p{
    font-size: 20px;
}

.main-heading-index{
    color: rgb(255, 187, 0);
    text-align: center;
    font-size: 100px;
}

.main-heading{
    color: rgb(255, 187, 0);
    text-align: center;
    font-size: 80px;
}
.main-list{
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.main-list a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin: 2px;
}
.main-list a:hover{
    color: rgb(255, 187, 0);
    letter-spacing: 1.9px;
}

.ingredients-list, .steps{
    color: white;
    font-size: 18px;
}

.food-photo{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    display: block;
    height: auto;
}

.ingredient-head{
    font-size: 18px;
}